html {
    font-family: "Bahnschrift Light", serif; !important;
    margin: 0;
    background-color: #2c2c2c;
}

body {
    margin: 0 15% 0 15%;
    height: auto;
    background-color: #232323;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

body > div#main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px; /* або інша довільна відстань між блоками */
    justify-content: flex-start;
}


.header {
    display: flex;
    align-content: center;
    background-color: #1c1c1c;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.header p {
    margin-left: 3rem;
}

.header-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.subheader {
    height: 47px;
    background-color: #1c1c1c;
    color: lightgray;
    font-size: 14px;
    font-weight: bold;
}

.subheader ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 15px;
    display: flex;
    align-items: center;
    height: 100%;
}

.subheader ul > li {
    margin-right: 20px;
}

.subheader ul > li a {
    text-decoration: none;
    color: lightgray;
    padding: 15px;
    display: block;
    transition: background-color 0.2s ease;
}

.subheader ul > li a:hover {
    background-color: #2c2c2c;
    color: cyan;
}

.footer {
    background-color: #1c1c1c;
    height: 45px;
    border-top: white 2px solid;
    color: white;
    align-content: center;
    font-weight: lighter;
    font-size: 12px;
    margin-top: auto;
}

.menu {
    color: white;
    font-size: 16px;
    margin-right: 5%;
    margin-left: auto;
    width: fit-content;
    padding: 0;
    align-self: flex-start;
}

.menu b {
    margin-bottom: -5px;
}

.menu ul {
    list-style-type: none;
    padding-left: 10px;
}

.menu ul > li {
    margin-top: 5px;
}

.menu ul > li a {
    text-decoration: none;
    color: lightgray;
    font-size: 14px;
}

.container {
    flex-grow: 1;
    max-width: 100%;
    margin: 0 15px 30px 30px;
    color: lightgray;
    box-sizing: border-box;
}

.menu {
    flex-shrink: 0;
    width: 200px;
    padding: 2% 0 2% 2%;
    color: white;
    font-size: 16px;
    align-self: flex-start;
    box-sizing: border-box;
}

.image-big {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 10px 0 20px 0;
    border: #2c2c2c 4px solid;
    cursor: pointer;
}

.location-text {
    font-size: 12px;
    margin: 0.5rem 0 0.5rem 2rem;
    color: lightgray;
}

.name-text {
    font-weight: bold;
    font-size: 24px;
    margin: 1rem 0 5px 0;
    padding-bottom: 5px;
    border-bottom: black 1px solid;
}

.name-text a {
    text-decoration: none;
    color: lightgray;
}

a:hover {
    color: cyan;
}

.subname-text {
    font-size: 12px;
    margin: 0.5rem 0 5px 0;
}

.gallery-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.arrow {
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    background: lightgray;
    border: none;
}

.gallery-image img {
    max-width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}

.description {
    font-size: 16px;
    line-height: 1.4;
}